DB_NAME=signal_notes
DB_USERNAME=signal_notes
DB_PASSWORD=change-this-password
MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_PORT=3306
BACKEND_PORT=8080
FRONTEND_PORT=4173
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-this-admin-password
CORS_ORIGINS=http://localhost:4173,http://127.0.0.1:4173
